.section-home-container {
  .section-conclusion {
    .intro-title {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .apply-btn {
      text-transform: uppercase;
      color: $white;
    }
  }
}
