.channel-partner-page-container {
  .jumbotron {
    background-image: url('~/assets/images/channelPartner/channel-partner.jpg');
  }
}
.exporter-jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
