.peloton-container {
  .jumbotron {
    background-image: url('~/assets/images/landing/peloton/peloton-jumbotron.jpg');
  }
  .display-3 {
    font-size: 56px;
    min-height: 162px;
  }
  .too-good {
    display: block;
    height: 0;
  }
}
