.main-navbar {
  padding: 0 20px;
  transition: all 0.2s ease-out;
  z-index: 21;

  &.bg-white {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .navbar-phone {
    a {
      min-height: 24px;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      border: 1px solid $danger;
      border-left-width: 24px;
      transition: all 0.5s ease-out;
      &:hover {
        background: $danger;
      }
    }
  }
  .navbar-brand {
    padding: 0;
  }
  a {
    text-transform: uppercase;
  }
  .nav-item {
    margin-left: 10px;
  }
  .btn {
    a {
      color: $white;
    }
  }
}

.main-navbar:not(.fixed-top) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.product-header {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 19px;
  vertical-align: middle;
  color: $secondary;
  font-family: $font-family-sans-serif;
}
.main-navbar.fixed-top:not(.up):not(.down) {
  opacity: 0;
  transform: translateY(-4em) scale(1);
  -webkit-transition: -webkit-transform 0s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 0s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.main-navbar.fixed-top.up {
  opacity: 0;
  transform: translateY(-4em) scale(1);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0.25s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 0.25s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0.25s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.main-navbar.fixed-top.down {
  opacity: 1;
  transform: translateY(0) scale(1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0.25s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
  transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
    opacity 0.25s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}

.navbar-light {
  .navbar-nav {
    .navbar-phone {
      a:hover {
        color: $white;
      }
    }

    .nav-link {
      color: $secondary;
    }
  }
}

@media (max-width: 1199px) {
  .navbar-collapse {
    display: block !important;
    width: 300px;
    overflow: hidden;
    transition: left 0.2s ease-out;
    box-sizing: border-box;
    position: fixed;
    background: $primary;
    top: 0;
    left: -300px;
    height: calc(100vh) !important;
    overflow: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    &.is-shown {
      left: 0;
    }

    .nav-item {
      margin-left: 0;
    }

    .btn {
      margin-top: 20px;
      background: $secondary;
    }

    .navbar-nav {
      padding: 0 40px 40px;
      width: 300px;
      align-items: normal!important;
      .nav-link {
        color: $white;
        &:hover,
        &:focus,
        &:active {
          color: $white;
        }
      }
    }

    .navbar-phone {
      a {
        padding: 0 5px;
        margin: 8px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    .btn {
      padding: 0;
      a {
        padding: 8px 18px;
        color: $white;
        &:hover,
        &:focus,
        &:active {
          color: $white;
        }
      }
    }
    .navbar-phone {
      a {
        padding: 1px 8px;
        margin: 8px;
      }
    }
  }
  .navbar-light {
    &.navbar-expand-xl .navbar-nav {
      .btn {
        a {
          color: $white;
        }
      }
    }
  }
}

.header-phone-icon {
  font-size: 12px;
  display: block;
  position: absolute;
  left: -18px;
  top: 3px;
  color: $white;
}

.close-nav {
  margin: 40px 0 10px 40px;
  height: 40px;
  width: 30px;
  display: block;
  color: $white;
  font-size: 0;
  text-indent: -999px;
  overflow: hidden;
  position: relative;
  &:before,
  &:after {
    top: 20px;
    position: absolute;
    display: block;
    content: ' ';
    width: 30px;
    border: 1px solid $white;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(135deg);
  }
}
