.investors-page-container {
  .card-cta {
    margin-top: 3rem;
    padding: 30px 40px;
  }
  .custom-form {
    margin-bottom: 1.5rem;
    font-family: $investor-font-family;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    color: #bebebe;
  }
  .form-cta {
    margin-top: 2.5rem;
    font-family: $investor-font-family;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    background-color: $investor-green;
    border: none;
  }

  .custom-label:after {
    display: block;
    content: ' ';
    border-top: 10px solid $investor-green !important;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 0.9375rem;
    top: 1rem;
  }
}
