.partner-benefits-section {
  padding: 5em 0 3em;

  .benefit-title {
    font-size: 1.4rem; // wtf
  }

  .content-section {
    margin: 2em 0;

    .section-image-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 1em;

      p {
        margin-bottom: 0;
      }
    }
  }
}
