.section-our-offices {
  padding-bottom: 4rem;

  .our-offices-subtitle {
    color: $product-light-grey;
  }

  .map-section {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .map-section-title {
      font-size: 1.5rem;
      color: $secondary;
      margin-bottom: 2.5rem;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: '';
        width: 0px;
        height: 4px;
        border-radius: 2px;
        background: $primary;
        display: block;
        position: absolute;
        bottom: -10px;
        transition: width 500ms;
      }

      &.active {
        font-weight: 900;

        &:after {
          width: 100px;
        }
      }
    }

    .map-section-image-wrapper {
      width: 100%;

      .map-section-image {
        width: 100%;
      }
    }
  }

  .address-wrapper {
    width: 100%;

    .city-name {
      font-weight: 900;
      color: $secondary;
      margin-bottom: 1rem;
    }

    .address-line {
      color: $secondary;
    }
  }
}

@include media-breakpoint-down(md) {
  .section-our-offices {
    .map-section {
      padding-top: 0rem;

      .map-section-title {
        &:after {
          left: 50%;
          transform: translate(-50%, 0%);
        }
      }
    }
  }
}
